# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.env/

# =========================
# Secrets
# =========================
.env
# =========================
# Terraform
# =========================
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
.terraform.lock.hcl